<html>
	<head>
		<title>Giraffes</title>
	</head>
	<body>
		<div>
			<form action="/giraffes/new" method="get">
				<input type="submit" value="Add new giraffe">
			</form>
			<h3>All giraffes</h3>
			<% for (i in all_giraffes) { %>
				<p>Name: <a href="/giraffes/<%=all_giraffes[i]._id%>"> <%= all_giraffes[i].name %><p>
				<p>Age: <%= all_giraffes[i].age %><p>
				<p><%= all_giraffes[i]._id %></p>
				<form action="/giraffes/<%= all_giraffes[i]._id %>/edit" method="get">
					<input type="submit" value="Edit giraffe">
				</form>
				<form action="/giraffes/<%= all_giraffes[i]._id %>/destroy" method="post">
					<input type="submit" value="Delete giraffe">
				</form><br>
			<% } %>
		</div>
	</body>
</html>
